<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label>E-mail: </label>
  <input id="email" type="text" name="user[email]">
  <label>Password: </label>
  <input id="password" type="text" name="user[password]">
  <input value="Log In" type="submit">
</form>
