<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label>Name: </label>
  <input id="name" type="text" name="user[name]">
  <label>E-mail: </label>
  <input id="email" type="text" name="user[email]">
  <label>Password: </label>
  <input id="password" type="text" name="user[password]">
  <input value="Sign Up" type="submit">
</form>

