<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p>Username: <input type="text" name="name"></p>
  <p>Email Address: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="Sign Up" value="Sign Up">
  
</form>

