<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
<label for="name">Your Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="email">Your Email Address:</label>
<input type="email" name="email" id="email">
<br>
<label for="password">Choose a Password:</label>
<input type="text" name="password" id="password">
<br>
<button type="submit" id="submit">Sign Up</button>
</form> 

